@font-face {
    font-family: 'Montserrat';
    src: url('https://raw.githubusercontent.com/cs-soc-tudublin/identityflip/main/assets/fonts/montserrat/light/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('https://raw.githubusercontent.com/cs-soc-tudublin/identityflip/main/assets/fonts/montserrat/regular/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('https://raw.githubusercontent.com/cs-soc-tudublin/identityflip/main/assets/fonts/montserrat/retina/Montserrat-Retina.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('https://raw.githubusercontent.com/cs-soc-tudublin/identityflip/main/assets/fonts/montserrat/medium/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('https://raw.githubusercontent.com/cs-soc-tudublin/identityflip/main/assets/fonts/montserrat/semibold/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('https://raw.githubusercontent.com/cs-soc-tudublin/identityflip/main/assets/fonts/montserrat/bold/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Montserrat VF';
    src: url('https://raw.githubusercontent.com/cs-soc-tudublin/identityflip/main/assets/fonts/montserrat/variable/Montserrat-VF.ttf') format('truetype-variations');
    /* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
    font-weight: 300 700;
    font-style: normal;
  }
  